* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.434);
    z-index: 2;
}

#gameContainer {
    /* <a href="https://www.freepik.com/free-vector/magic-portal-mountain-top-alien-planet-surface-futuristic-landscape-background-with-glowing-entrance-rock-starry-sky-fantasy-book-computer-game-scene-cartoon-vector-illustration_12120251.htm#query=game%20background&position=44&from_view=keyword">Image by upklyak</a> on Freepik */
    background-image: url('https://img.freepik.com/free-vector/magic-portal-mountain-top-alien-planet-surface-futuristic-landscape-background-with-glowing-entrance-rock-starry-sky-fantasy-book-computer-game-scene-cartoon-vector-illustration_107791-4566.jpg?w=1060&t=st=1669501550~exp=1669502150~hmac=a2d0ccbb7854a8d2979ea30396de2e9b4a319ad20378d399aaca3a49c9ce0e02');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Player */
#player {
    text-shadow: 3px 3px 30px dodgerblue;
    width: fit-content;
    position: fixed;
    top: 42vh;
    left: 10vw;
    font-size: 30px;
    padding: 10px;
    z-index: 999;
    outline: none;
    border: none;
}
.bird{
    filter: drop-shadow(0 0 0.75rem crimson);
}
/* Obstacle */
#obstacle {
    width: 5vw;
    position: fixed;
    right: 0vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255, 149, 0, 0.404);
    animation: moveBlock 4s infinite linear;
    z-index: 10;
}

#hole {
    width: 5vw;
    height: 30vh;
    background-color: rgba(94, 207, 255, 0.463);
    position: absolute;
    right: 0vw;
    top: 69vh;
    animation: moveBlock 4s infinite linear;
    z-index: 10;
}

/* Obstacle Moving Animation */
@keyframes moveBlock {
    0% {
        right: 0vw;
    }

    25% {
        right: 25vw;
    }

    50% {
        right: 50vw;
    }

    75% {
        right: 75vw;
    }

    100% {
        right: 100vw;
    }
}

/* Game instructions */
#gameInstructions {
    color: white;
    font-size: 21px;
    letter-spacing: .8px;
    word-spacing: .7px;
    background-color: rebeccapurple;
    width: 350px;
    height: fit-content;
    padding: 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#playersList {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    font-size: 25px;
}

#playersList span,img {
    cursor: pointer;
    transition: all .2s linear;
}

#playersList span:hover,#playersList img:hover {
    transform: scale(1.5);
}

#gameInstructions button {
    border-radius: 50%;
    width: 40%;
    padding: 10px;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(180, 104, 255);
    transition: all .2s linear;
    border: none;
}

#gameInstructions button:hover {
    background-color: rgb(190, 125, 255);
}

#gameOver {
    display: none;
}

@media screen and (max-width:600px) {

    /* Obstacle */
    #obstacle,#hole {
        width: 13vw;
        animation: moveBlock 3s infinite linear;
    }
    #player{
        font-size: 40px;
    }
}